<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<div class="col-8 col-lg-6 mx-auto p-2  mt-3">
    <form action="/e-commerce/login" method="post">
        <h1>Login</h1>
        <!-- Affiche le message d'erreur si l'attribut "error" est présent dans le modèle -->
        <p th:if="${error}" class="alert alert-danger">Identifiants incorrects. Veuillez réessayer.</p>
        <div class="mb-3">
            <label for="username">Email</label>
            <input required class="form-control" id="username" name="username" type="text">
        </div>
        <div class="mb-3">
            <label for="password">Mdp</label>
            <input required class="form-control" id="password" name="password" type="password">
        </div>
        <button class="btn btn-primary">Envoyer</button>
    </form>
</div>

</body>
</html>