<!doctype html>
<html th:replace="base :: html" lang="fr" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <main class="py-5">
        <div class="container">
            <h1 class="mb-5 text-center">Administration des categories</h1>


            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1>Catégories</h1>
                <a th:href="@{/e-commerce/admin/categories/create}" class="btn btn-success">+ Nouvelle catégorie</a>
            </div>


            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="categorie : ${categories}">
                    <td th:text="${categorie.id}"></td>
                    <td th:text="${categorie.nom}"></td>
                    <td>
                        <a th:href="@{'/e-commerce/admin/categories/' +${categorie.id}}" class="btn btn-warning btn-sm me-2">Afficher</a>
                        <a th:href="@{'/e-commerce/admin/categories/edit/' +${categorie.id}}" class="btn btn-warning btn-sm me-2">Modifier</a>
                        <a th:href="@{'/e-commerce/admin/categories/delete/' + ${categorie.id}}" class="btn btn-danger btn-sm"
                           onclick="return confirm('Supprimer cette catégorie ?');">Supprimer</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>


</html>
